 body {
  margin: 0;
  padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1125px;
	 height: 2436px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Rectangle4 
{ 
	 left: 0px; 
	 top: -4px; 
	 position: absolute; 
	 width: 1126px;
	 height: 2445px;
	 z-index:1;
} 

 #Layer4 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1125px;
	 height: 2436px;
	 z-index:2;
} 

 #Layer3 
{ 
	 left: 189px; 
	 top: 116px; 
	 position: absolute; 
	 width: 454px;
	 height: 379px;
	 z-index:3;
} 

 #SaveasContacts 
{ 
	 left: 342px; 
	 top: 2194px; 
	 position: absolute; 
	 width: 442px;
	 height: 92px;
	 z-index:4;
} 

 #Logo 
{ 
	 left: 70px; 
	 top: 1642px; 
	 position: absolute; 
	 width: 493px;
	 height: 348px;
	 z-index:5;
} 

 #Callicon 
{ 
	 left: 188px; 
	 top: 1312px; 
	 position: absolute; 
	 width: 103px;
	 height: 103px;
	 z-index:6;
} 

 #layer_8568991274 
{ 
	 left: 332px; 
	 top: 1343px; 
	 position: absolute; 
	 width: 352px;
	 height: 39px;
	 z-index:7;
} 

 #tashirabryant720 
{ 
	 left: 332px; 
	 top: 1470px; 
	 position: absolute; 
	 width: 479px;
	 height: 52px;
	 z-index:8;
} 

 #LinkedIn 
{ 
	 left: 188px; 
	 top: 1444px; 
	 position: absolute; 
	 width: 102px;
	 height: 103px;
	 z-index:9;
} 

 #FounderOwner 
{ 
	 left: 374px; 
	 top: 1178px; 
	 position: absolute; 
	 width: 376px;
	 height: 34px;
	 z-index:10;
} 

 #TashiraABryant 
{ 
	 left: 201px; 
	 top: 1076px; 
	 position: absolute; 
	 width: 722px;
	 height: 86px;
	 z-index:11;
} 

 #ProfilePicture 
{ 
	 left: 299px; 
	 top: 465px; 
	 position: absolute; 
	 width: 527px;
	 height: 527px;
	 z-index:12;
} 
